<div class="pre-header ">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6">
                <span class="me-3">Hey! The Show is Starting in 5 Days.</span>
            </div>
            <div class="col-lg-6">
                <div class="text-button">
                    <a>Contact Us Now! <i class="icon bi bi-arrow-right-short"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- header -->
<div class="container">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <h1 class="navbar-brand me-0" href="#">Art<em>Xibition</em></h1>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav" dir="rtl">
                <ul class="navbar-nav ">
                    <li class="nav-item" >
                        <a class="nav-link  p-4" aria-current="page" href="#" [routerLink]="['/ticket']">Ticket</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-4" [routerLink]="['/shows-event']">Shows & Event</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-4" [routerLink]="['/rentVenu']">Rent Venu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-4" [routerLink]="['/aboutUs']">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-4" [routerLink]="['/home']">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>