<div class="banner">
    <div class="main-banner">
        <ul class="main-banner-list">
            <li>Days<span id="days"></span></li>
            <li>Hours<span id="hours"></span></li>
            <li>Minutes<span id="minutes"></span></li>
            <li>Seconds<span id="seconds"></span></li>
        </ul>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-content">
                    <div class="next-show">
                        <i class="bi bi-arrow-up"></i>
                        <br>
                        <span>Next Show</span>
                    </div>
                    <h6>Opening on Thursday, March 31st</h6>
                    <h2>The Sunny Hill Festival 2022</h2>
                    <div>
                        <a href="ticket-details.html" class="main-white-button">Purchase Tickets</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- owl crasoul man -->
<div class="container">
    <div class="owl-crasoul purchase-crasoul">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide><img class="owl-crasoul-img" src="../../../../assets/images/event-page-01.jpg"
                    alt=""></ng-template>
            <ng-template carouselSlide><img class="owl-crasoul-img" src="../../../../assets/images/event-page-02.jpg"
                    alt=""></ng-template>
            <ng-template carouselSlide><img class="owl-crasoul-img" src="../../../../assets/images/event-page-03.jpg"
                    alt=""></ng-template>
            <ng-template carouselSlide><img class="owl-crasoul-img" src="../../../../assets/images/event-page-04.jpg"
                    alt=""></ng-template>
            <ng-template carouselSlide><img class="owl-crasoul-img" src="../../../../assets/images/event-page-04.jpg"
                    alt=""></ng-template>
        </owl-carousel-o>

    </div>
</div>

<!-- part3 -->
<div class="amazing-venues">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-9">
                <div class="left-content">
                    <h4>Three Amazing Venues for events</h4>
                    <br>
                    <p>ArtXibition Event Template is brought to you by Tooplate website and it included total 7 HTML
                        pages.
                        These are <a href="index.html">Homepage</a>, <a href="about.html">About</a>,
                        <a href="rent-venue.html">Rent a venue</a>, <a href="shows-events.html">shows &amp; events</a>,
                        <a href="event-details.html">event details</a>, <a href="tickets.html">tickets</a>, and <a
                            href="ticket-details.html">ticket details</a>.
                        You can feel free to modify any page as you like. If you have any question, please visit our <a
                            href="https://www.tooplate.com/contact" target="_blank">Contact page</a>.
                    </p>
                    <br>
                    <p>You can use this event template for your commercial or business website. You are not permitted to
                        redistribute this template ZIP file on any template download website. If you need the latest
                        HTML
                        templates, you may visit <a href="https://www.toocss.com/" target="_blank">Too CSS</a> website
                        that
                        features a great collection of templates in different categories.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="right-content">
                    <h5><i class="bi bi-geo-alt-fill"></i> Visit Us</h5>
                    <br>
                    <span>5 College St NW, <br>Norcross, GA 30071<br>United States</span>
                    <div class="text-button"><a href="show-events-details.html">Need Directions?
                            <i class="bi bi-arrow-right"></i>
                        </a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<div class="festival-map">
    <img src="../../../../assets/images/map-image.jpg" alt="" class="img-fluid w-100">
</div>
<br>
<br>

<!-- Our Venues & Tickets -->
<div class="ticket-Venues">
    <div class="container-fluid">
        <div class="row mx-2">
            <div class="col-12 text-center mb-3">
                <h1>Our Venues & Tickets</h1>
            </div>
            <div class="col-12 col-lg-4">
                <div>
                    <div class="upperdata">
                        <img src="../../../../assets/images/venue-01.jpg" alt="" class="img-fluid w-100">
                    </div>
                    <div class="down-data">
                        <div class="left-data">
                            <a href="ticket-details.html">Purchase Tickets</a>
                        </div>
                        <div class="right-data">
                            <div class="container">
                                <h4>Radio City Musical Hall</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur vinzi iscing elit, sed doers kontra.</p>
                                <ul class="list-unstyled">
                                    <li class="p-3 ms-0"><i class="bi bi-diagram-3-fill"></i>250</li>
                                    <li class="p-3"><i class="bi bi-person-fill"></i>500</li>
                                </ul>
                                <div class="price">
                                    <div>1 <strong>ticket</strong></div>
                                    <strong>from $45</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-4">
                <div>
                    <div class="upperdata">
                        <img src="../../../../assets/images/venue-02.jpg" alt="" class="img-fluid w-100">
                    </div>
                    <div class="down-data">
                        <div class="left-data ">
                            <a href="ticket-details.html">Purchase Tickets</a>
                        </div>
                        <div class="right-data">
                            <div class="container">
                                <h4>Radio City Musical Hall</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur vinzi iscing elit, sed doers kontra.</p>
                                <ul class="list-unstyled">
                                    <li class="p-3 ms-0"><i class="bi bi-diagram-3-fill"></i>250</li>
                                    <li class="p-3"><i class="bi bi-person-fill"></i>500</li>
                                </ul>
                                <div class="price">
                                    <div>1 <strong>ticket</strong></div>
                                    <strong>from $45</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div>
                    <div class="upperdata">
                        <img src="../../../../assets/images/venue-03.jpg" alt="" class="img-fluid w-100">
                    </div>
                    <div class="down-data">
                        <div class="left-data ">
                            <a href="ticket-details.html">Purchase Tickets</a>
                        </div>
                        <div class="right-data">
                            <div class="container">
                                <h4>Radio City Musical Hall</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur vinzi iscing elit, sed doers kontra.</p>
                                <ul class="list-unstyled">
                                    <li class="p-3 ms-0"><i class="bi bi-diagram-3-fill"></i>250</li>
                                    <li class="p-3"><i class="bi bi-person-fill"></i>500</li>
                                </ul>
                                <div class="price">
                                    <div>1 <strong>ticket</strong></div>
                                    <strong>from $45</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- cards -->
<br>
<br>
<div class="coming-events">
    <div class="discover-m">
        <div class="discover">
            <a href="" class="">Discover more</a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="coming-item">
                    <div class="upperdata-coming">
                        <img src="../../../../assets/images/event-01.jpg" alt="" class="w-100">
                    </div>
                    <div class="downdata-coming  p-2">
                        <a href="event-details.html">
                            <h5 class=" mt-4">Radio City Musical Hall</h5>
                        </a>
                        <ul>
                            <li><i class="bi bi-stopwatch"></i> Tuesday: 15:30-19:30</li>
                            <br>
                            <li><i class="bi bi-geo-alt-fill"></i> Copacabana Beach, Rio de Janeiro</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="coming-item">
                    <div class="upperdata-coming">
                        <img src="../../../../assets/images/event-02.jpg" alt="" class="w-100">
                    </div>
                    <div class="downdata-coming  p-2">
                        <a href="event-details.html">
                            <h5 class=" mt-4">Radio City Musical Hall</h5>
                        </a>
                        <ul>
                            <li><i class="bi bi-stopwatch"></i> Tuesday: 15:30-19:30</li>
                            <br>
                            <li><i class="bi bi-geo-alt-fill"></i> Copacabana Beach, Rio de Janeiro</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="coming-item">
                    <div class="upperdata-coming">
                        <img src="../../../../assets/images/event-03.jpg" alt="" class="w-100">
                    </div>
                    <div class="downdata-coming  p-2">
                        <a href="event-details.html">
                            <h5 class=" mt-4">Radio City Musical Hall</h5>
                        </a>
                        <ul>
                            <li><i class="bi bi-stopwatch"></i> Tuesday: 15:30-19:30</li>
                            <br>
                            <li><i class="bi bi-geo-alt-fill"></i> Copacabana Beach, Rio de Janeiro</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

